@(user: models.users.User)

@main("About",user) {
			@* Start Aoife *@
			<div class ="container-fluid">
					<h1 class="about-header">About Us</h1>
						  <div class ="about-Image"><img src="@routes.Assets.versioned("images/AboutImage.jpg")" class=" img-responsive" alt="About Logo"></div>
						  <h4 class = "well about-body">
						  Software.ie was founded in 2017 by three friends in co Dublin.</br> 
						  We employ over 400 people in 7 different countries across
						  the globe. </br> 
						  We work with out partners in the US and Japan. </br>
						  Software.ie is the worlds most raplidy growing online store for software keys.
						  We pride ourselves on being the best for value and customer service.</p>
						  </h4>
							<h2>Contact Us</h2>
							<p>Contact Details</p>            
								<table class="table table-striped">
								  <thead>
									<tr>
									  <th>Telephone:</th>
									  <th>Address:</th>
									  <th>Email</th>
									</tr>
								  </thead>
								  <tbody>
									<tr>
									  <td>0875643656</td>
									  <td>123 Main St</td>
									  <td>software.ie@@gmail.com</td>
									</tr>
									
									</tr>
								  </tbody>
								</table>
							  </div>
					@* End Aoife *@
}
