@(productForm: Form[models.Product], user: models.users.User)
@import helper._

@main("Add Product", user) {
    <div class="container fluid">
        <h2>Add a new product</h2>
        @form(action=routes.HomeController.addProductSubmit(), 'class -> "form-horizontal", 'role -> "form") {
            @CSRF.formField

            @inputText(productForm("name"), '_label -> "Name", 'class -> "form-control")
            @inputText(productForm("stock"), '_label -> "Stock", 'class -> "form-control")
            @inputText(productForm("price"), '_label -> "Price", 'class -> "form-control")

            @inputText(productForm("id"), '_label -> "", 'hidden -> "hidden")

            <div class="actions">
                <input type="submit" value="Add/Update Product" class="btn btn-primary">
                <a href="@routes.HomeController.products()">
                    <button type="button" class="btn btn-warning">Cancel</button>
                </a>
            </div>
        }
    </div>
}