@(productForm: Form[models.Product], user: models.users.User)
@import helper._

@main("Add Product", user) {
    <div class="container fluid col-md-12">
        <h2>Add a new product</h2>
        @helper.form(action = controllers.routes.HomeController.addProductSubmit()) {
            @CSRF.formField
            <div class="form-group">
                @inputText(productForm("name"), '_label -> "Name",
                'class -> "form-control")
            </div>
            <div class="form-group">
                @inputText(productForm("description"), '_label -> "Description",
                'class -> "form-control")
            </div>
            <div class="form-group">
                @inputText(productForm("stock"), '_label -> "Stock",
                'class -> "form-control")
            </div>
            <div class="form-group">
                @inputText(productForm("price"), '_label -> "Price",
                'class -> "form-control")
            </div>
            @inputText(productForm("id"), '_label -> "", 'hidden -> "hidden")
            <div class="form-group">
                <input type="submit" value="Add/Update Product" class="btn btn-primary">
                <a href="@routes.HomeController.products()">
                    <button type="button" class="btn btn-warning">Cancel</button>
                </a>
            </div>
        }
}
