@(productForm: Form[models.Product], user: models.users.User)
@import helper._

@main("Add Product", user) {
    <p class="lead">Add a new product</p>
    @form(action=routes.HomeController.addProductSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @* CSRF attack prevention *@
        @CSRF.formField

        @inputText(productForm("description"), '_label -> "Description", 'class -> "form-control")
        @inputText(productForm("stock"), '_label -> "Stock", 'class -> "form-control")
        @inputText(productForm("price"), '_label -> "Price", 'class -> "form-control")

        @inputText(productForm("id"), '_label -> "", 'hidden -> "hidden")

        <div class="actions">
            <input type="submit" value="Add/Update Product" class="btn btn-primary">
            <a href="@routes.HomeController.index(0)">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }
}