@()

@main("Basket") {
			@* Start Rachel *@
			<h1 class="product-header">Your Basket</h1>
			@for(i <- 1 to 10) {
				<div class="panel-group container-fluid">
						<div class="panel panel-default">
								<div class="panel-heading">
								<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse@i">Example Basket Item</a>
								</h4>
						</div>
						<div id="collapse@i" class="panel-collapse collapse">
								<div class="panel-body">
										Example Product Description/Images
								</div>
								<div class="panel-footer">&euro;0.00 &nbsp;
								</div>
						</div>
						</div>
					</div>
				</br>
			}
			<p class="container-fluid">Total &euro;0.00</p>
			@* End Rachel *@
}
