@(loginForm: Form[models.users.Login], user: models.users.User)
@import helper._

@main("Login",user) {
    <div class="container-fluid">
        <h2>Login</h2>
    </div>

    <div class="col-xs-4">
        @if(loginForm.hasGlobalErrors) {
            <p class="alert alert-warning">
                @loginForm.globalError.message
            </p>
        }
        @if(flash.containsKey("error")) {
            <p class="alert alert-warning">
                @flash.get("loginRequired")
            </p>
        }
        @helper.form(action = controllers.routes.LoginController.loginSubmit()) {
            @CSRF.formField
            <div class="form-group">
                @inputText(loginForm("email"), '_label -> "",
                'class -> "form-control input-xs", 'placeholder -> "Email")
            </div>
            <div class="form-group">
                @inputPassword(loginForm("password"), '_label -> "",
                'class -> "form-control input-xs", 'placeholder -> "Password")
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-success">
            </div>
        }
    </div>
}