@(products: List[models.Product], user: models.users.User)

@main("Products", user) {
			@* Start Jordan *@
			@if(user != null) {
				@if(user.getRole == "admin") {
					<a href="@routes.HomeController.addProduct()" class="btn btn-info">Add a Product</a>
				}	
			}
			<h1 class="product-header">Our Products</h1>
				@for(p <- products){
 				<div class="panel-group container-fluid">
					<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse@p.getId">@p.getName</a>
						</h4>
					</div>
					<div id="collapse@p.getId" class="panel-collapse collapse">
						<div class="panel-body">
							@p.getDescription
						</div>
						<div class="panel-footer">&euro; @("%.2f".format(p.getPrice)) &nbsp;
								<a class="btn btn-success" href="">Buy Now</a>
								<a class="btn btn-info" href="@routes.HomeController.product(p.getId)">
									<span class="glyphicon glyphicon-open"></span>
								</a>
							@if(user != null) {
								@if(user.getRole == "admin") {
									<a class="btn btn-danger" href="@routes.HomeController.deleteProduct(p.getId)">Delete</a>
								}
							}
						</div>
					</div>
					</div>
				</div>
			</br>
			}
			@* End Jordan *@
}
