@(query: String)(products: List[models.Product])

@main("Search") {
	@* Start Jordan *@
			<h1 class="product-header">Results for @query</h1>
			@for(p <- products){
				<div class="panel-group container-fluid">
						<div class="panel panel-default">
								<div class="panel-heading">
		   							<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse@p.getId">@p.getName</a>
									</h4>
				 	 			</div>
									<div id="collapse@p.getId" class="panel-collapse collapse">
											<div class="panel-body">
													@p.getDescription
											</div>
											<div class="panel-footer">&euro; @("%.2f".format(p.getPrice)) &nbsp;
													<button class="btn btn-success" type="submit">Buy Now</button>
											</div>
									</div>
									</div>
								</div>
							</br>
						}
	</div>
@* End Jordan *@
}
